<div class="container">
  <section class="mt-5">
    <h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>
    <h3>Email: <%= @user.email %></h3>
    <h3><%= link_to "My Cabinet", '/cabinet' %></h3>
  </section>
</div>
