  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Drinkee</h1>
        <p class="lead">Find cocktail recipes you can make with the ingredients already in your liquor cabinet!</p>
        <% if current_user == nil %>
        <p class="lead">
          <%= link_to "Login to get started", '/auth/google_oauth2', :class =>"btn btn-lg btn-secondary" %>
        </p>
        <% else %>
          <%= link_to "Go to my Cabinet", '/cabinet', :class =>"btn btn-lg btn-secondary" %>
        <% end %>
      </main>
    </div>
  </body>
