<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      "Your friend has sent you a drink! Here's the recipe:
      Drink recipe will go here
      Cheers!"
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
